* {
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}


section+section {
    margin-top: 50px;
}

.main {
    max-width: 1000px;
    margin: auto;
}

/* FORM  */
.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #219ebc;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Current Weather  */
.current-weather .location {
    font-size: 36px;
    font-weight: bolder;
}

.current-date {
    font-size: 18px;
}

.current-temperature {
    font-size: 120px;
}

.celsius {
    font-size: 60px;
    margin-bottom: 20px;
}

.feels-like {
    display: flex;
    align-items: center;
    font-size: 18px;
}

/* Forecast  */

.forecast {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.forecast-details {
    text-align: center;
}